:root {
  // Fundamental colors
  --color-white: #fff;
  --color-black: #222;

  /* Grey color scale */
  --color-grey-900: #0b0b0b;
  /* 900 */
  --color-grey-850: #161616;
  /* 850 */
  --color-grey-800: #2f2f2f;
  /* 800 */
  --color-grey-700: #3f3f41;
  /* 700 */
  --color-grey-600: #676767;
  /* 600 */
  --color-grey-400: #848484;
  /* 400 */
  --color-grey-300: #999999;
  /* 300 */
  --color-grey-100: #b9b9b9;
  /* 100 */
  --color-grey-80: #d5d5d5;
  /* 80 */
  --color-grey-20: #f5f5f5;
  /* 20 */
  /*  Made with Geenes | geenes.app  */

  // Red color scale
  --color-red-900: #1b0508;
  /* 900 */
  --color-red-850: #370a10;
  /* 850 */
  --color-red-800: #771723;
  /* 800 */
  --color-red-750: #c12639;
  /* 750 */
  --color-red-600: #F9314A;
  /* 600 */
  --color-red-500: #fa596d;
  /* 500 */
  --color-red-300: #fb7f8e;
  /* 300 */
  --color-red-200: #fca1ac;
  /* 200 */
  --color-red-80: #fdc6cd;
  /* 80 */
  --color-red-20: #feecee;
  /* 20 */
  /*  Made with Geenes | geenes.app  */

  /* Orange color scale */
  --color-orange-900: #1b0b00;
  /* 900 */
  --color-orange-850: #361600;
  /* 850 */
  --color-orange-750: #763100;
  /* 750 */
  --color-orange-600: #c04f00;
  /* 600 */
  --color-orange-500: #F76800;
  /* 500 */
  --color-orange-300: #f88432;
  /* 300 */
  --color-orange-200: #faa060;
  /* 200 */
  --color-orange-100: #fbb98b;
  /* 100 */
  --color-orange-50: #fcd5b9;
  /* 50 */
  --color-orange-20: #fef1e7;
  /* 20 */
  /*  Made with Geenes | geenes.app  */

  /* Red color scale */
  --color-green-900: #0c1407;
  /* 900 */
  --color-green-850: #18280f;
  /* 850 */
  --color-green-700: #345720;
  /* 700 */
  --color-green-500: #548d34;
  /* 500 */
  --color-green-300: #6DB644;
  /* 300 */
  --color-green-200: #89c468;
  /* 200 */
  --color-green-100: #a4d18a;
  /* 100 */
  --color-green-80: #bcddaa;
  /* 80 */
  --color-green-50: #d7ebcc;
  /* 50 */
  --color-green-20: #f1f8ee;
  /* 20 */
  /*  Made with Geenes | geenes.app  */

  // Blue color scale
  --color-blue-900: #031017;
  /* 900 */
  --color-blue-850: #07212e;
  /* 850 */
  --color-blue-750: #0f4764;
  /* 750 */
  --color-blue-600: #1974a1;
  /* 600 */
  --color-blue-400: #2297D0;
  /* 400 */
  --color-blue-300: #4caad9;
  /* 300 */
  --color-blue-200: #75bde1;
  /* 200 */
  --color-blue-100: #9acee9;
  /* 100 */
  --color-blue-50: #c2e2f2;
  /* 50 */
  --color-blue-20: #eaf5fa;
  /* 20 */
  /*  Made with Geenes | geenes.app  */

  // Purple color scale
  --color-purple-900: #0f081b;
  /* 900 */
  --color-purple-850: #1e1136;
  /* 850 */
  --color-purple-800: #412676;
  /* 800 */
  --color-purple-700: #693dc0;
  /* 700 */
  --color-purple-600: #8850F8;
  /* 600 */
  --color-purple-400: #9e71f8;
  /* 400 */
  --color-purple-300: #b491fa;
  /* 300 */
  --color-purple-100: #c8affb;
  /* 100 */
  --color-purple-80: #decffc;
  /* 80 */
  --color-purple-20: #f4effe;
  /* 20 */
  /*  Made with Geenes | geenes.app  */
}