:root {
  /* Fundamental colors */
  --color-white: #fff;
  --color-black: #222;

  /* Grey color scale */
  --color-grey-900: #0b0b0b;
  --color-grey-850: #161616;
  --color-grey-800: #2f2f2f;
  --color-grey-700: #3f3f41;
  --color-grey-600: #676767;
  --color-grey-400: #848484;
  --color-grey-300: #999999;
  --color-grey-100: #b9b9b9;
  --color-grey-80: #d5d5d5;
  --color-grey-20: #f5f5f5;
  /*  Made with Geenes | geenes.app  */

  --color-red: #f9314a;

  /* Red color scale (Default = 600) */
  --color-red-900: #1b0508;
  --color-red-850: #370a10;
  --color-red-800: #771723;
  --color-red-750: #c12639;
  --color-red-600: #f9314a;
  --color-red-500: #fa596d;
  --color-red-300: #fb7f8e;
  --color-red-200: #fca1ac;
  --color-red-80: #fdc6cd;
  --color-red-20: #feecee;
  /*  Made with Geenes | geenes.app  */

  --color-orange: #f76800;

  /* Orange color scale (Default = 500) */
  --color-orange-900: #1b0b00;
  --color-orange-850: #361600;
  --color-orange-750: #763100;
  --color-orange-600: #c04f00;
  --color-orange-500: #f76800;
  --color-orange-300: #f88432;
  --color-orange-200: #faa060;
  --color-orange-100: #fbb98b;
  --color-orange-50: #fcd5b9;
  --color-orange-20: #fef1e7;
  /*  Made with Geenes | geenes.app  */

  --color-green: #6db644;

  /* Red color scale (Default = 300) */
  --color-green-900: #0c1407;
  --color-green-850: #18280f;
  --color-green-700: #345720;
  --color-green-500: #548d34;
  --color-green-300: #6db644;
  --color-green-200: #89c468;
  --color-green-100: #a4d18a;
  --color-green-80: #bcddaa;
  --color-green-50: #d7ebcc;
  --color-green-20: #f1f8ee;
  /*  Made with Geenes | geenes.app  */

  --color-blue: #2297d0;

  /* Blue color scale (Default = 400) */
  --color-blue-900: #031017;
  --color-blue-850: #07212e;
  --color-blue-750: #0f4764;
  --color-blue-600: #1974a1;
  --color-blue-400: #2297d0;
  --color-blue-300: #4caad9;
  --color-blue-200: #75bde1;
  --color-blue-100: #9acee9;
  --color-blue-50: #c2e2f2;
  --color-blue-20: #eaf5fa;
  /*  Made with Geenes | geenes.app  */

  --color-purple: #8850f8;

  /* Purple color scale (Default = 600) */
  --color-purple-900: #0f081b;
  --color-purple-850: #1e1136;
  --color-purple-800: #412676;
  --color-purple-700: #693dc0;
  --color-purple-600: #8850f8;
  --color-purple-400: #9e71f8;
  --color-purple-300: #b491fa;
  --color-purple-100: #c8affb;
  --color-purple-80: #decffc;
  --color-purple-20: #f4effe;
  /*  Made with Geenes | geenes.app  */

  /* Nonce colors */
  --color-blue-darker-for-nav-menu: #0e89c6;
}