// Styles from Google
@import 'cse-static-element-default+en.css';
@import 'cse-static-style-look-v2-default.css';

// Styles for customization
@import 'colors.css';

// Here are selectors that need to be exact to override specificity

.gsc-control-cse,
.gsc-control-cse .gsc-table-result {
  font-family: 'Gentona', sans-serif;
  font-size: 18px;
}

//

.gsc-control-cse {
  // Mathematical constants
  --SQRT2: 1.4142135623730951;

  // "Clear search box" button
  // easeOutCubic (https://matthewlein.com/tools/ceaser)
  --circle-button-transition-timing-function-on-blur: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  // easeOutBack, modified (https://matthewlein.com/tools/ceaser)
  --circle-button-transition-timing-function-on-focus: cubic-bezier(0.000, 1.000, 0.500, 4);
  --circle-button-transition-time-on-blur: 100ms;
  --circle-button-transition-time-on-focus: 850ms;

  box-sizing: border-box;

  &::before,
  &::after,
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  // Search Field =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

  // Search field takes up all availabe space
  table.gsc-search-box td {
    width: 100%;
  }

  .gsc-input-box {
    border: unset;
    border-bottom: 2px solid var(--color-orange);
  }

  input.gsc-input {
    border: unset;
    font-size: 32px;
    padding: unset;
  }

  // "Clear search box" Button  =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

  .gsst_a {
    --size: 24px;

    align-content: center;
    display: grid;
    height: var(--size);
    justify-content: center;
    text-decoration: none;
    width: var(--size);

    &::before,
    &::after {
      grid-column: 1;
      grid-row: 1;
    }

    &::before {
      align-content: center;
      color: var(--color-grey-20);
      content: '✕';
      display: grid;
      font-size: 16px;
      justify-content: center;
      z-index: 2;
    }

    &::after {
      content: '';
      background-color: var(--color-grey-100);
      border-radius: 50%;
      display: block;
      height: var(--size);
      transform: scale(1);
      transition: transform var(--circle-button-transition-time-on-focus) 100ms;
      width: var(--size);
      z-index: 1;
    }

    &:active::after,
    &:focus::after,
    &:hover::after {
      transition: transform var(--circle-button-transition-time-on-focus) var(--circle-button-transition-timing-function-on-focus);
      transform: scale(1.2);
    }
  }

  // The original "x"
  .gscb_a {
    // Hide the clear search results "x"
    display: none;
    padding: 0;
  }

  // Search Button =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

  // Search button matches other buttons on the site
  button.gsc-search-button {
    background-color: unset;
    border: 2px solid var(--color-orange);
    cursor: pointer;
    position: relative;

    &::before {
      background-color: var(--color-orange);
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.3s ease-in-out;
      z-index: 1;
    }

    svg {
      --size: 15px;

      fill: var(--color-black);
      height: var(--size);
      position: relative;
      width: var(--size);
      z-index: 2;
    }

    &:active,
    &:focus,
    &:hover {
      &::before {
        transform: scaleX(1);
      }

      svg {
        fill: var(--color-white);
      }
    }
  }

  button.gsc-search-button {


    // &:active,
    // &:focus,
    // &:hover {
    //   background-color: unset;
    //   background-image: unset;
    //   border: 2px solid var(--color-orange);
    //   filter: unset;
    // }

    svg {
      fill: var(--color-black);
    }
  }

  // "About x results (y seconds)" =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

  .gsc-result-info {
    color: var(--color-grey-600);
  }

  // "Sort by" Menu =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

  .gsc-selected-option-container {
    cursor: pointer;
    font-size: 16px;
    border: unset;
    border-radius: unset;
    box-shadow: unset;
    padding: 0 40px 0 10px;
    background-color: var(--color-blue-darker-for-nav-menu);
  }

  .gsc-option-selector {
    align-content: center;
    background: unset;
    display: grid;
    padding: 0 10px 3px 5px;
    justify-content: center;

    &::before {
      --size: 8px;

      content: '';
      border-bottom: 3px solid var(--color-white);
      border-right: 3px solid var(--color-white);
      height: var(--size);
      transform: rotate(50grad);
      width: var(--size);
    }
  }

  .gsc-option-menu {
    box-shadow: unset;
    background: var(--color-blue);
  }

  .gsc-option-menu-item {
    color: var(--color-white);
  }

  .gsc-selected-option {
    color: var(--color-white);
  }

  .gsc-option-menu-item-highlighted {
    background-color: var(--color-blue-darker-for-nav-menu);
    color: var(--color-white);
  }

  // Spelling =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

  .gs-spelling {
    font-size: 24px;
  }

  // Search Promotions =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

  // Search promotions background
  .gsc-result.gsc-promotion {
    background-color: var(--color-grey-700);

    // Search promotions title
    div.gs-title,
    div.gs-title * {
      font-size: 24px;
      text-decoration: none;
    }

    a.gs-title,
    a.gs-title * {
      border-bottom: 2px solid var(--color-orange);
      color: var(--color-white);
      display: inline-block;
      padding: 0 0 2px;
    }

    // Search promotions URL
    .gs-visibleUrl {
      color: var(--color-grey-80);
      font-size: 16px;
    }

    .gs-promotion-image {
      border: 1px solid var(--color-white);
    }

    // Search promotions snippet
    .gs-snippet {
      color: var(--color-grey-20);
      font-size: 18px;
    }
  }

  // Search Results =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

  .gsc-result:not(.gsc-promotion) .gs-result {

    // Results title
    div.gs-title,
    div.gs-title * {
      font-size: 24px;
      text-decoration: none;
    }

    a.gs-title,
    a.gs-title * {
      border-bottom: 2px solid var(--color-orange);
      display: inline-block;
      color: var(--color-black);
      padding: 0 0 2px;
    }

    // Results URL
    .gs-visibleUrl {
      color: var(--color-grey-600);
      font-size: 16px;
    }

    // Results snippet
    .gsc-preview-reviews,
    .gs-snippet {
      color: var(--color-black);
      font-size: 18px;
    }

  }

  // Pagination =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

  .gsc-results .gsc-cursor-box {

    .gsc-cursor-page,
    .gsc-cursor-current-page {
      &:hover {
        text-decoration: none;
      }
    }

    .gsc-cursor-page {
      border-bottom: 2px solid var(--color-orange);
      padding: 0 0 2px;
      margin-right: 10px;
    }

    .gsc-cursor-current-page {
      border-bottom: none;
      color: var(--color-orange);
    }
  }

  // Footer =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

  .gcsc-more-maybe-branding-root {

    .gcsc-find-more-on-google {
      border-bottom: 2px solid var(--color-orange);
      color: var(--color-black);
      padding: 0 0 2px;
    }

    .gcsc-find-more-on-google-magnifier {
      fill: var(--color-black);
    }

  }

}